<!DOCTYPE html>
{% load static %}
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'post/css/detail.css' %}">
    <script scr = "js/jquery-3.6.1.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="{% url 'post:main' %}"><img class="forTraveler" src="{% static 'post/images/title/skyblue.png'%}"></img></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" aria-current="page" href="{% url 'post:profile' %}"><button type="button" class="btn btn-success">나의 정보</button></a>
                    <a class="nav-link active" href="{% url 'post:logout' %}"><button type="button" class="btn btn-outline-success">로그아웃</button></a>
                    {% else %}
                        <a class="nav-link active" aria-current="page" href="{% url 'post:login' %}"><button type="button" class="btn btn-success">로그인</button></a>
                        <a class="nav-link active" href="{% url 'post:register' %}"><button type="button" class="btn btn-outline-success">회원가입</button></a>
                        <!-- <a class="nav-link" href="#">Pricing</a> -->
                    {% endif %}
                </div>
            </div>
        </div>
    </nav><hr class="m-0">

    <div class="detail_page_main" style="margin-top: 30px;">
        <div class="container">
            <div class="detail_page_area">
                <div class="detail_page_row">
                    <div class="detail_page_nickname">
                        <h5 class="post_author">{{post.author}}</h5>
                    </div>
                    <div class="detail_page_title">
                        <h1>{{post.title}}</h1>
                    </div>
                    {% if post.author.id == user.pk %}
                    <div>
                        <form method="post" action="{% url 'post:post_delete' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">글 삭제하기</button>
                            
                        </form>
                        <button type="submit" class="btn btn-warning"><a style="text-decoration: none; color: white;"   href="{% url 'post:update' post.pk %}">글 수정하기</a></button>
                        
                    </div>                    
                    {% endif %}
                                        
                    <div class="detail_page_info">
                        <h6>{{post.created_at}} 조회수 따봉수</h6>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="container">
                        <div class="row">
                            {% for p in photo %}
                            <img src="{{p.image.url}}" class="detail_image"></img>
                            {% endfor %}
                        </div>
    
                    </div>
                </div><hr>

                <div class="detail_page_content">
                    {{post.content}}
                </div>
            </div>
            {% if comment %}
            <div class="detail_page_comment">
                <div class="detail_page_comment_1">
                    <hr> 댓글
                    <span class = "detail_page_comment_count"> {{comment|length}}</span>
                </div>
            </div>
            {% endif %}
            
            <br>
            <!-- form date -->
            <form method="POST" action="{% url 'post:post_detail' post.pk %}">
                <div class="input-group mb-3">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <input name="content" type="text" class="form-control" placeholder="댓글입력.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button type="submit" class="input-group-text" id="basic-addon2">게시</button>
                    {% else %}
                    {% endif %}
                    
                    </div>
            </form>
            
            
            <br>
            {% for comment in repost %}
            <div class="detail_page_comment_info">
                <span class = "detail_page_comment_profileicon">
                    <img src="https://images-ext-1.discordapp.net/external/rWS9kuA0xfcxNXpHz83URFpeXXuu15ufeW8OGq1IFHw/https/fontmeme.com/permalink/220915/c6ef805ef970debb1312e27648f01afc.png" alt ="ForTravler" width="60" height="13">
                </span>
                <span class = "detail_page_comment_nickname">
                    {{comment.author.username}} {{comment.created_at}}
                    {% if comment.author.id == user.pk %}
                    <form method="post" action="{% url 'post:comment_delete' post.pk comment.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                    {% endif %}
                </span>
                <div class="detail_page_comment_content">
                    {{comment.content}} 
                    <hr>
                </div>
                {% empty %}
                댓글을 작성해보세요!
            </div>
            {% endfor %}

            <!-- {% for com in repost %}
            <h2>{{com.content}}</h2>
            {% endfor %} -->

            <!--page-->
            <div class="container">
                <nav aria-label="nav_page">
                    <ul class="pagination">
                            <li class="page-item">
                            {% if repost.has_previous %}
                            <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                            </a>
                            {% endif %}
                            </li>

                            {% for p in repost.paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
                            {% endfor %}
                            
                            {% if repost.has_next %}
                            <a class="page-link" href="?page={{repost.next_page_number}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                            {% endif %}


                        <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                        <li class="page-item">
                        
                        </li>
                    </ul>
                </nav>
            </div>
        </div>   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    
</body>
</html>