<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForTraveler</title>
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pages.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="index.html"><img class="forTraveler" src="https://fontmeme.com/permalink/220915/c6ef805ef970debb1312e27648f01afc.png"></img></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="login.html"><button type="button" class="btn btn-success">로그인</button></a>
                    <a class="nav-link active" href="join.html"><button type="button" class="btn btn-outline-success">회원가입</button></a>
                    <!-- <a class="nav-link" href="#">Pricing</a> -->
                </div>
            </div>
        </div>
    </nav><hr class="m-0">

    <div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3" id="side_bar">
                <div class="result">검색결과</div>
                <div class="search_bar_side">
                    <input type="text" autocomplete="off" placeholder="검색어를 입력하세요" id="searchBox" value="">
                    <a class="btn btn-secondary btn-sm" href="#" role="button">검색</a>
                </div>

                <div class="search_bottom">
                    <div class="local">
                        <div class="img_map">
                            <img src="../icons/map.png" alt="" id="map">
                            <span>도시별</span>
                        </div>
                        
                        <div class="container">
                            <div class="row m-0">
                                <div class="local_text"><a href="#">서울</a></div>
                                <div class="local_text"><a href="#">대구</a></div>
                                <div class="local_text"><a href="#">대전</a></div>
                                <div class="local_text"><a href="#">부산</a></div>
                                <div class="local_text"><a href="#">강원</a></div>
                                <div class="local_text"><a href="#">제주</a></div>
                                <div class="local_text"><a href="#">경상</a></div>
                                <div class="local_text"><a href="#">전라</a></div>
                                <div class="local_text"><a href="#">경기</a></div>
                                <div class="local_text"><a href="#">충청</a></div>
                                <div class="local_text"><a href="#">광주</a></div>
                                <div class="local_text"><a href="#">인천</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="category">
                        <div class="img_map">
                            <img src="../icons/favorite.png" alt="" id="map">
                            <span>카테고리별</span>
                        </div>  
    
                        <div class="container">
                            <div class="row m-0">
                                <div class="local_text"><a href="#">액티비티</a></div>
                                <div class="local_text"><a href="#">카페</a></div>
                                <div class="local_text"><a href="#">맛집</a></div>
                                <div class="local_text"><a href="#">숙소</a></div>

                            </div>
                        </div>      
                    </div>
                </div>
        
            </div>

            <div class="col-7">
                <div class="row">
                    <ul>
                        <li class="review">
                            <a href="#" target="_blank"></a>
                            <span class="review_image"></span>
                            <div class="review_content">
                                <div class="review_category">
                                    <em class="country">대한민국</em>
                                    <em class="local">서울</em>
                                    <em class="categ">놀이공원</em>
                                </div>
                                <div class="review_title">어디로 갈까요</div>
                                <div class="review_author">작성자</div>
                                <div class="created_at">202--</div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>

            <div class="col-1"></div>
        
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Link to icons8</p></div>
    </footer>
    
    
    
</body>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</body>
</html>