@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.detail_page_main {
    margin-top: 30px;
}

.detail_image{
    width: 200px;
    height: 200px;
}