@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

@media only screen and (max-width: 1025px) {
    .forTraveler {
        width: 250px;
    }
}   

@media all and (min-width:1025px) {
    .forTraveler {
        width: 300px;
    }
}

a {
    cursor: pointer;
    text-decoration: none;
}

.search_area {
    position: relative;
    padding: 90px 50px 0;
    padding-top: 90px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    height: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search_area_picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}


.search_area_text {
    display: block;
    position: relative;
    font-size: 50px;
    line-height: 85px;
    letter-spacing: -2px;
    text-align: center;
    color: #fff;
    text-shadow: 0 5px 5px rgb(0 0 0 / 50%);
}


.search_bar{
    background: #fff;
    position: relative;
    border-radius: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 640px;
    margin: 32px auto 0;
    padding: 20px 64px 20px 20px;
}

.search_bar i {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    background-image: url('static/post/icons/search.png');
}

.search_bar input {
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
}


.blind {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

.select_area {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.row {
    margin-top: 25px;
}

.area {
    width: 188px;
}


.title1 {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.thumnail {
    position: relative;
    overflow: hidden;
    display: block;
    padding-top: 100%;
    background-color: #e9e9e9;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20px;
}


.thumnail_title {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
    text-align: center;
    white-space: nowrap;
}

.thumnail:hover{
    margin-top: 0px;
}

